NET XCLK            LOC = P16 | IOSTANDARD = LVCMOS33 | PERIOD = 90MHz HIGH 50%;
NET XCLK            CLOCK_DEDICATED_ROUTE = FALSE;

#NET XCLKP           LOC = M21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 156.25MHz HIGH 50%;
#NET XCLKN           LOC = M22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 156.25MHz HIGH 50%;

NET XRES            LOC = U4  | IOSTANDARD = SSTL15 | PULLDOWN;

NET UART_RXD        LOC = T19 | IOSTANDARD = LVCMOS18;
NET UART_TXD        LOC = U19 | IOSTANDARD = LVCMOS18;

NET LED[3]          LOC = R26 | IOSTANDARD = LVCMOS33;
NET LED[2]          LOC = T25 | IOSTANDARD = LVCMOS33;
NET LED[1]          LOC = T24 | IOSTANDARD = LVCMOS33;
NET LED[0]          LOC = M26 | IOSTANDARD = LVCMOS33;

NET DEBUG[3]        LOC = T23 | IOSTANDARD = LVCMOS33; # J48-1
NET DEBUG[2]        LOC = R22 | IOSTANDARD = LVCMOS33; # J48-2
NET DEBUG[1]        LOC = T22 | IOSTANDARD = LVCMOS33; # J48-3
NET DEBUG[0]        LOC = P26 | IOSTANDARD = LVCMOS33; # J48-4
