#NET "CLK" TNM_NET = CLK;

# without cache controller
#TIMESPEC TS_CLK = PERIOD "CLK" 75MHz HIGH 50%;

# with cache controller
#TIMESPEC TS_CLK = PERIOD "CLK" 75MHz HIGH 50%;

# AliExpress HPC 40GbE K420 board

NET XCLK            LOC = U24 | IOSTANDARD = LVCMOS25 | PERIOD = 100MHz HIGH 50%;
#NET XCLK            LOC = K15 | PERIOD = 66MHz HIGH 50%;
#NET XCLK            LOC = V10 | PERIOD = 40MHz HIGH 50%;

NET XRES            LOC = A16  | IOSTANDARD = LVCMOS25 | PULLDOWN;

NET UART_RXD        LOC = D17 | IOSTANDARD = LVCMOS25 | PULLUP;
NET UART_TXD        LOC = D16 | IOSTANDARD = LVCMOS25;

NET LED[3]          LOC = A27 | IOSTANDARD = LVCMOS15;
NET LED[2]          LOC = E24 | IOSTANDARD = LVCMOS15;
NET LED[1]          LOC = G24 | IOSTANDARD = LVCMOS15;
NET LED[0]          LOC = H21 | IOSTANDARD = LVCMOS15;

NET DEBUG[3]        LOC = G27 | IOSTANDARD = LVCMOS15; # J4-1
NET DEBUG[2]        LOC = H26 | IOSTANDARD = LVCMOS15; # J4-2
NET DEBUG[1]        LOC = H25 | IOSTANDARD = LVCMOS15; # J4-3
NET DEBUG[0]        LOC = H24 | IOSTANDARD = LVCMOS15; # J4-4


